
.attachment-container {
    display: none;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    background-color: white;
}

.attachment-container-btn {
    padding-top: 20px;
    padding-bottom: 20px;
}

.frm-attachment {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.frm-attachment-block {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close-frm-attachment {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-frm-attachment:hover,
.close-frm-attachment:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.create-attachment-btn {
    display: inline-block;
    padding: 5px 15px;
    outline: none;
    border: 1px solid rgb(112,112,112);
    border-radius: 1px;
    transition: 0.2s;
    color: black;
}

.create-attachment-btn:hover {
    background: darkgray;
    color: white;
}
.create-attachment-btn:active {
    background: lightgray;
    color: black;
}

.update-attachment-btn {
    display: none;
    padding: 5px 15px;
    outline: none;
    border: 1px solid rgb(112,112,112);
    border-radius: 1px;
    transition: 0.2s;
    color: black;
}

.update-attachment-btn:hover {
    background: darkgray;
    color: white;
}
.update-attachmente-btn:active {
    background: lightgray;
    color: black;
}

.delete-attachment-btn {
    display: none;
    padding: 5px 15px;
    outline: none;
    border: 1px solid rgb(112,112,112);
    border-radius: 1px;
    transition: 0.2s;
    color: black;
}

.delete-attachment-btn:hover {
    background: darkgray;
    color: white;
}
.delete-attachment-btn:active {
    background: lightgray;
    color: black;
}

.attachment-tbl-container{
    margin-top: 15px;
}

table.attachment-tbl, table.attachment-tbl thead {
    margin: auto;
    border: 2px solid darkgray;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}

table.attachment-tbl th {
    text-align: center;
    border: 1px solid darkgray;
    height: 30px;
    background-color: #F5F5F5
}

th.fileName {
    width: 250px;
}

th.fileDate {
    width: 150px;
}

th.fileComment {
    width: 250px;

}

table.attachment-tbl td {
    text-align: left;
    padding: 10px;
    border: 1px solid darkgray;
    height: 20px;
}
